@import "tailwindcss";


#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.display-table {
  border-collapse: collapse;
}

.display-table th,
.display-table td {
  border: 1px solid #ccc;
}